* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border: 1px solid #ccc;
  width: 100%;
}

button {
  cursor: pointer;
}
button:hover {
  opacity: 0.7;
}

body {
  background: #fff;
  color: #333;
}

/* font-family settings */
@font-face {
  font-family: "NanumSquareB";
  src: url("../fonts/NanumSquareB.eot");
  src: local("NanumSquareB"), url("../fonts/NanumSquareB.woff") format("woff"), url("../fonts/NanumSquareB.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareR";
  src: url("../fonts/NanumSquareR.eot");
  src: local("NanumSquareR"), url("../fonts/NanumSquareR.woff") format("woff"), url("../fonts/NanumSquareR.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareRoundB";
  src: url("../fonts/NanumSquareRoundB.eot");
  src: local("NanumSquareRoundB"), url("../fonts/NanumSquareRoundB.woff") format("woff"), url("../fonts/NanumSquareRoundB.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareRoundR";
  src: url("../fonts/NanumSquareRoundR.eot");
  src: local("NanumSquareRoundR"), url("../fonts/NanumSquareRoundR.woff") format("woff"), url("../fonts/NanumSquareRoundR.ttf") format("truetype");
}
@font-face {
  font-family: "NanumDaSiSiJagHae";
  src: url("../fonts/NanumDaSiSiJagHae.eot");
  src: local("NanumDaSiSiJagHae"), url("../fonts/NanumDaSiSiJagHae.woff") format("woff"), url("../fonts/NanumDaSiSiJagHae.ttf") format("truetype");
}
@font-face {
  font-family: "OldLondon";
  src: url("../fonts/OldLondon.eot");
  src: local("OldLondon"), url("../fonts/OldLondon.woff") format("woff"), url("../fonts/OldLondon.ttf") format("truetype");
}
@font-face {
  font-family: "OldLondonA";
  src: url("../fonts/OldLondonAlternate.eot");
  src: local("OldLondonAlternate"), url("../fonts/OldLondonAlternate.woff") format("woff"), url("../fonts/OldLondonAlternate.ttf") format("truetype");
}
/* basic element form settings */
main {
  border: solid 1px #333;
  text-align: center;
}

header .func_box {
  display: flex;
  justify-content: start;
  margin: 10px 0 0 0;
  gap: 10px;
}
header .func_box input {
  padding: 5px;
}
header .title {
  font-family: "OldLondon";
  font-size: 60px;
  height: 60px;
  line-height: 100%;
  letter-spacing: -2px;
}
header .title p {
  display: inline-block;
  margin: 0;
  height: 60px;
}
header .title a {
  margin: 0;
}
header nav {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid #bebebe;
  border-bottom: 4px double #6d6d6d;
  gap: 0 10px;
}
header nav button {
  border: none;
  background: none;
  padding: 3px 5px;
  margin: 5px 0;
  font-family: "NanumSquareRoundR";
  font-size: 15px;
  vertical-align: middle;
}
header nav button:hover {
  background-color: #add8e6;
  border-radius: 5px;
}
header nav .selected {
  font-weight: 900;
}

.headline {
  margin-top: 1em;
  text-align: left;
}
.headline .card_hl {
  border-bottom: solid 1px #333;
  min-height: 230px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin: 3px 0 3px;
}
.headline .card_hl img {
  width: 100%;
}
.headline .card_hl .article_box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 210px;
  margin: 5px 0 5px;
}
.headline .card_hl h2 {
  font-family: "NanumSquareRoundB";
  font-size: 35px;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.headline .card_hl .no-result {
  font-family: "NanumSquareRoundB";
  font-size: 3vw;
  text-align: center;
  margin: auto;
  height: 100%;
  width: 100%;
  color: #416886;
}